---
import Base from '../../layouts/Base.astro';
import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

interface Props {
	post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<Base title={post.data.title} description={post.data.description}>
	<main class="flex justify-evenly px-8 pt-4">
		{
			headings.length > 0 && (
				<section class="max-w-[30ch]">
					<nav
						aria-label="table of contents"
						class="sticky top-8 hidden lg:block"
					>
						<ul>
							{headings.map((heading) => (
								<li class="list-none text-gold hover:text-gold/75">
									<a href={'#' + heading.slug}>{heading.text}</a>
								</li>
							))}
						</ul>
					</nav>
				</section>
			)
		}
		<article class="prose prose-rose prose-quoteless mb-40 lg:prose-xl">
			<h1>{post.data.title}</h1>
			<time datetime={post.data.date.toISOString()}>
				{
					post.data.date.toLocaleDateString('en-us', {
						timeZone: 'UTC',
					})
				}
			</time>
			<Content />
		</article>
	</main>
</Base>
