---
import Layout from "../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";

type Props = {
	post: CollectionEntry<"blog">;
};

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => {
		const { id } = post;
		return {
			params: {
				id,
			},
			props: {
				post,
			},
		};
	});
}

const { post } = Astro.props;
const datetime = post.data.published_date.toLocaleTimeString();
const time = post.data.published_date.toLocaleDateString("en-US", {
	day: "numeric",
	month: "long",
	year: "numeric",
});

const { Content } = await render(post);
---

<Layout
	title={post.data.title}
	description={post.data.description}
>
	<article>
		<h1>{post.data.title}</h1>
		<time
			class="text-sm"
			datetime={datetime}
		>
			{time}
		</time>
		<Content />
	</article>
</Layout>
