---
import IconLink from "../components/IconLink.astro";
import type { Props as IconLinkProps } from "../components/IconLink.astro";

type Props = {
	title: string;
	description: string;
	image_url?: string;
};

const { description, image_url = "/me.jpg", title } = Astro.props;
const meta_image_url = new URL(image_url, Astro.url);

const icon_links: IconLinkProps[] = [
	{
		href: "https://github.com/joshwashywash",
		icon_kind: "github",
		sr_text: "github",
	},
];
---

<html class="motion-safe:scroll-smooth">
	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Canonical URL -->
		<link rel="canonical" href={Astro.url} />

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:description" content={description} />
		<meta property="og:image" content={meta_image_url} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={meta_image_url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:url" content={Astro.url} />
	</head>
	<body
		class="bg-neutral-100 text-neutral-900 dark:text-neutral-100 dark:bg-neutral-900 flex flex-col md:grid md:flex-none gap-10 p-8 justify-center"
	>
		<div class="flex justify-between">
			<a
				href="/"
				class="text-xl underline hover:text-neutral-500"
				aria-label="home"
			>
				josh oertel
			</a>
			<nav>
				<ul class="flex gap-2">
					{
						icon_links.map((link) => {
							return <IconLink {...link} />;
						})
					}
				</ul>
			</nav>
		</div>
		<slot />
	</body>
</html>
